.venv
IMDB Dataset.csv
preprocessed_twitter_data.csv
training.1600000.processed.noemoticon.csv
twitter_dataset.csv
sentiment_model1.h5
model.pkl
reviews.csv
reviews1.csv
SentimentalAnalysisApp/model/sentiment_model.h5
SentimentalAnalysisMLModel/sentiment_model.h5