<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Sentiment Analysis</title>
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <p>Understand the sentiment of your text! Enter your text below and click "Analyze" to see the sentiment analysis result.</p>
        <form method="post" action="/predict_text">
            <label for="text">Enter Text:</label>
            <textarea id="text" name="text" rows="6" cols="100" required>{{ request.form.text if request else '' }}</textarea>
            <br>
            <button type="submit">Analyze</button>
        </form>
        <br>
        {% if prediction == "Negative" %}
        <div class="result" style="color: red;"> 
            <h2>Analysis Result: {{ prediction }}</h2>
        </div>
        {% endif %}

        {% if prediction == "Positive" %}
        <div class="result" style="color: green;">
            <h2>Analysis Result: {{ prediction }}</h2>
        </div>

        {% endif %}

        {% if prediction == "Neutral" %}
        <div class="result" style="color: blue;">
            <h2>Analysis Result: {{ prediction }}</h2>
        </div>

        {% endif %}
        <h1>Upload CSV File</h1>
        <p>Upload a CSV file and click "Analyze CSV" to see the sentiment analysis result for the file.</p>
        <form method="post" action="/predict_csv" enctype="multipart/form-data">
            <div class="file-input-container">
                <label for="file">Upload CSV File:</label>
                <input type="file" id="file" name="file" accept=".csv">
            </div>
            <br>
            <button type="submit">Analyze CSV</button>
        </form>
    </div>
</body>
</html>
